.detailBlock {
  display: flex;
  flex-wrap: wrap;
}

.detailPanel {
  width: 100%
}

.detailPanelList {
  height: 300px;
  overflow-y: auto;
  text-align: left;
}

@media (min-width: 600px) {
  .detailBlock {
    flex-wrap: nowrap;
  }
}
